* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;

}

body {
  background-color: #1b1e23;
}

main {
  margin: 7.5rem 0 8rem 0;
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainCard {
  width: 40vw;
  border-radius: 25px;
  background-color: #fff;
  padding: 25px;
}

/*header*/
.header {
  width: 40vw;
  height: 25vh;
  background-image: url('https://images.pexels.com/photos/631477/pexels-photo-631477.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: 100% 200%;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
  position: relative;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 30px 0 25px 0;
}

.clear {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.clear i {
  font-size: 30px;
  color: #FFF;
}

.clear i:hover {
  cursor: pointer;
  text-shadow: 1px 3px 5px #000;
  transform: rotate(45deg);
}

#date {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #FFF;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}



/*form*/
form {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 15px;
}

.inputForm {
  border: none;
  padding: 10px;
  border: 1px solid #eee;
  outline: none;
  width: 65%;
}

.inputForm::placeholder {
  padding: 0px;
}

.btnCreate {
  padding: 10px 15px;
  background-color: rgb(6, 128, 228);
  border: none;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
}

.btnCreate:hover {
  background-color: rgb(49, 125, 225);
}

.cardsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  max-height: 60vh;
  height: 60vh;
}

.card {
  width: 90%;
  padding: 15px;
  box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.16);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 5px 0px;
  position: relative;
}

.task {
  padding: 10px;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  color: rgba(62, 161, 219, 1);
}

.completeIcon {
  color: rgba(62, 161, 219, 1);
}

.trashIcon:hover {
  color: #f00;
}

.deleteConfirmationPop {
  position: relative;
  background-color: rgba(255, 255, 255);
  z-index: 99;
  width: 100%;
  top: -100px;
  left: 0;
}

.deleteSpace {
  position: relative;
  width: 30%;
}

.noTasks {
  font-size: 48px;
}